<h2>New Product</h2>

<form action="/contacts" method="POST">
  <p>Name: <input type="text" name="name"></p>
  <p>id_number: <input type="text" name="id number"></p>
  <p>quantity: <input type="text" name="quantity"></p>
  <input type="submit" value="Create">
  <button><a href="/products">Cancel</a></button>
</form>
