<h2>Search Contact</h2>

<form action="/contacts" method="POST">
  <p>Search: <input type="text"> </p>
    <button><a href="/contacts">Search</a></button>
</form>
<br>
<a href="/contacts">[Index]</a>
